@import 'public/styles/colors';

.DesktopHeader {
    display: flex;
    height: 70px;
    position: fixed;
    width: 100%;
    z-index: 20000;
    background-color: $white;
    box-sizing: border-box;
    padding-left: 20px;
    align-items: center;
    justify-content: center;
    top: 0;
    .icon-container {
        margin-right: 20px;
        cursor: pointer;
        transition: opacity .3s ease-in-out;
        svg {
            font-size: 24px;
            transition: color .3s ease-in-out;
        }
        &:hover {
            opacity: .7;
        }
    }
    h1 {
        color: $dark-gray;
    }
}